In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
def load_data(table):
    df = pd.read_csv(f'rpc_18_inputs_for_participants//rpc_18_inputs_for_participants//RPC_18_Datasets//{table}.csv')
    return df

In [79]:
files = ['dim_customer','dim_delivery_partner_','dim_menu_item','dim_restaurant','fact_delivery_performance','fact_order_items','fact_orders','fact_ratings']

In [80]:
orders = load_data('fact_orders')
orders.head()

,order_id,customer_id,restaurant_id,delivery_partner_id,order_timestamp,subtotal_amount,discount_amount,delivery_fee,total_amount,is_cod,is_cancelled
0,ORD202501023439,CUST181110,REST08622,DP05541,2025-01-01 12:00:00,471.62,35.44,30.56,466.74,N,N
1,ORD202501012051,CUST025572,REST02383,DP08091,2025-01-01 12:00:00,255.68,0.00,27.45,283.13,Y,N
2,ORD202501019281,CUST179306,REST14069,DP02021,2025-01-01 12:00:00,428.38,0.00,26.23,454.61,N,N
3,ORD202501000124,CUST191820,REST19745,DP13859,2025-01-01 12:00:00,260.81,0.00,32.75,293.56,N,N
4,ORD202501006518,CUST033760,REST12962,DP09615,2025-01-01 12:00:00,280.33,0.00,25.57,305.90,N,N

from data we currently mainly need month and hour

In [81]:
orders['order_timestamp'] = pd.to_datetime(orders['order_timestamp'])

In [82]:
orders.info()

<class 'pandas.DataFrame'>
RangeIndex: 149166 entries, 0 to 149165
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             149166 non-null  str
 1   customer_id          149166 non-null  str
 2   restaurant_id        149166 non-null  str
 3   delivery_partner_id  143531 non-null  str
 4   order_timestamp      149166 non-null  datetime64[us]
 5   subtotal_amount      149166 non-null  float64
 6   discount_amount      149166 non-null  float64
 7   delivery_fee         149166 non-null  float64
 8   total_amount         149166 non-null  float64
 9   is_cod               149166 non-null  str
 10  is_cancelled         149166 non-null  str
dtypes: datetime64[us](1), float64(4), str(6)
memory usage: 12.5 MB

In [83]:
orders['month'] = orders['order_timestamp'].dt.month

In [84]:
orders['year'] = orders['order_timestamp'].dt.year
orders['year'].value_counts()

year
2025    149166
Name: count, dtype: int64

In [85]:
orders['month'].value_counts()

month
3    23543
1    23539
2    22667
5    22591
4    21466
6     9293
7     8818
9     8694
8     8555
Name: count, dtype: int64

lets have a look at total orders in each month for 2025

In [ ]:
successfull_orders = orders[orders['is_cancelled'] =='N']

failed_orders = orders[orders['is_cancelled'] !='N']



trend_success= successfull_orders.groupby(['month'])['order_id'].count().pct_change()*100

total_sucess = successfull_orders.groupby(['month'])['order_id'].count()

trend_failed= failed_orders.groupby(['month'])['order_id'].count().pct_change()*100

total_failed = failed_orders.groupby(['month'])['order_id'].count()



orders_decline_delivered = pd.DataFrame({

    'total_orders':total_orders,

    'trend_overall':trend,

    'total_sucess':total_sucess,

    'trend_sucess':trend_success,

    'trend_failed':trend_failed,
    'total_failed':total_failed,
    'pct_failed':(total_orders/total_failed)*100
    })
orders_decline_delivered

,total_order,trend_overall,total_sucess,trend_sucess,trend_failed,total_failed,pct_failed
month,,,,,,,
1,23539,NaN,22076,NaN,NaN,1463,1608.954204
2,22667,-3.704490,21272,-3.641964,-4.647984,1395,1624.874552
3,23543,3.864649,22133,4.047574,1.075269,1410,1669.716312
4,21466,-8.822155,20210,-8.688384,-10.921986,1256,1709.076433
5,22591,5.240846,21221,5.002474,9.076433,1370,1648.978102
6,9293,-58.864149,8219,-61.269497,-21.605839,1074,865.270019
7,8818,-5.111374,7768,-5.487286,-2.234637,1050,839.809524
8,8555,-2.982536,7485,-3.643151,1.904762,1070,799.532710
9,8694,1.624781,7670,2.471610,-4.299065,1024,849.023438

lets try to optimize this

monthly_stats = (
    orders.gr
)

In [ ]:
monthly_stats=(
    orders.groupby(['month','is_cancelled'])['order_id']
    .count()
    .unstack()
    .rename(columns={'N':'Sucessfull','Y':'Failed'})
    .rename_axis(None,axis=1)

)
monthly_stats['total_orders'] = monthly_stats['']
monthly_stats

       Sucessfull  Failed
month
1           22076    1463
2           21272    1395
3           22133    1410
4           20210    1256
5           21221    1370
6            8219    1074
7            7768    1050
8            7485    1070
9            7670    1024